root = true

[*]
indent_style = tab
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,tex,html,xml,css,md}]
tab_width = 2

[*.{yaml,yml,py,pyx}]
indent_style = space

[*.{yaml,yml}]
indent_size = 2

[*.{py,pyx}]
indent_size = 4
