[submodule ".credentials"]
	path = .credentials
	url = ../Credentials.git
	branch = main
[submodule ".secrets"]
	path = .secrets
	url = ../Secrets.git
	branch = main
[submodule "git/Pages"]
	path = git/Pages
	url = ../laitingsheng.github.io.git
	branch = main
[submodule "git/Scripts"]
	path = git/Scripts
	url = ../Scripts.git
	branch = main
[submodule ".nano"]
	path = .nano
	url = ../../scopatz/nanorc.git
	branch = master
	ignore = dirty
[submodule ".gitignores"]
	path = .gitignores
	url = ../../github/gitignore.git
	branch = main
	ignore = dirty
[submodule ".vim_runtime"]
	path = .vim_runtime
	url = ../../amix/vimrc.git
	branch = master
	ignore = dirty
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = ../../ohmyzsh/ohmyzsh.git
	branch = master
	ignore = dirty
[submodule ".oh-my-bash"]
	path = .oh-my-bash
	url = ../../ohmybash/oh-my-bash.git
	branch = master
	ignore = dirty
[submodule "git/Notes"]
	path = git/Notes
	url = ../Notes.git
	branch = main
[submodule ".zsh/plugins/conda-zsh-completion"]
	path = .zsh/plugins/conda-zsh-completion
	url = ../../esc/conda-zsh-completion.git
	branch = master
	ignore = dirty
[submodule ".zsh/plugins/k"]
	path = .zsh/plugins/k
	url = ../../supercrabtree/k.git
	branch = master
	ignore = dirty
[submodule ".zsh/plugins/system-utils"]
	path = .zsh/plugins/system-utils
	url = ../system-utils-plugin.git
	branch = main
[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = ../../zsh-users/zsh-autosuggestions.git
	branch = master
	ignore = dirty
[submodule ".zsh/plugins/zsh-completions"]
	path = .zsh/plugins/zsh-completions
	url = ../../zsh-users/zsh-completions.git
	branch = master
	ignore = dirty
[submodule ".zsh/plugins/zsh-history-substring-search"]
	path = .zsh/plugins/zsh-history-substring-search
	url = ../../zsh-users/zsh-history-substring-search.git
	branch = master
	ignore = dirty
[submodule ".zsh/plugins/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-syntax-highlighting
	url = ../../zsh-users/zsh-syntax-highlighting.git
	branch = master
	ignore = dirty
[submodule ".zsh/themes"]
	path = .zsh/themes
	url = ../../romkatv/powerlevel10k.git
	branch = master
	ignore = dirty
[submodule "git/vcpkg"]
	path = git/vcpkg
	url = ../../microsoft/vcpkg.git
	branch = master
