# exclude all files
/*

# only specific files are included
!/README.md
!/.editorconfig
!/.gitignore
!/.gitmodules
!/.gitconfig
!/.nanorc
!/.vimrc
!/.clang-format
!/.clang-format.*
!/.profile
!/.bash_profile
!/.bash_logout
!/.condarc

# directories
!/.bashrcs
!/.config
!/.envs
!/.ssh
!/.subversion
!/.conan
!/.scripts
!/.docker
!/.jupyter
!/.github

# submodules
!/.nano
!/.vim_runtime
!/.credentials
!/.gitignores
