[user]
	name = Tinson Lai
	email = laitingsheng@hotmail.com
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
	gpgSign = true
[core]
	eol = lf
	autocrlf = false
	safecrlf = false
	ignoreCase = false
	symlinks = true
	longpaths = true
[tar]
	umask = 0022
[push]
	default = current
	followTags = true
	gpgSign = if-asked
[pull]
	rebase = merges
[merge]
	directoryRenames = true
	renormalize = true
[diff]
	renames = copies
[fetch]
	prune = true
	pruneTags = true
	recurseSubmodules = true
[color]
	ui = always
[column]
	ui = auto
[url "https://hub.fastgit.org/"]
	insteadOf = https://github.com/
[url "git@ssh.fastgit.org"]
	insteadOf = git@github.com
[include]
	path = ~/.credentials/system.gitconfig
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
