[user]
    name = Tinson Lai
    email = laitingsheng@hotmail.com
[include]
    path = ~/.credentials/signkey.gitconfig
[commit]
    gpgsign = true
[tag]
    forceSignAnnotated = true
    gpgSign = true
[core]
    eol = lf
    autocrlf = false
    safecrlf = false
    ignoreCase = false
    symlinks = true
    filemode = true
    longpaths = true
[tar]
    umask = 0022
[push]
    default = current
    followTags = true
    gpgSign = if-asked
[pull]
    rebase = merges
[merge]
    directoryRenames = true
    renormalize = true
[diff]
    renames = copies
[fetch]
    prune = true
    pruneTags = true
    recurseSubmodules = true
[color]
    ui = always
[color "status"]
    added = green
    changed = yellow bold
    untracked = red bold
    branch = blue bold
    remoteBranch = cyan bold
    updated = yellow
    noBranch = red bold
    localBranch = green bold
    unmerged = magenta bold
[column]
    ui = auto
[color "transport"]
    rejected = red bold
[color "push"]
    error = red bold
[color "branch"]
    current = green bold
    local = magenta
    remote = cyan
    upstream = blue
[color "advice"]
    hint = yellow
