# exclude all files
/*

# only specific files are included
!/README.md
!/.editorconfig
!/.gitignore
!/.gitmodules
!/.gitconfig
!/.nanorc
!/.clang-format

# directories
!/.ssh
!/.subversion
!/.conan
!/.scripts
!/.dependabot
!/.docker

# submodules
!/.nano
!/.credentials
