# exclude all files
/*

# only specific files are included
!/README.md
!/.editorconfig
!/.gitignore
!/.gitmodules
!/.gitconfig
!/.clang-format.*
!/.profile
!/.bash_profile
!/.bashrc
!/.bash_aliases
!/.bash_envs
!/.bash_logout
!/.zshenv
!/.zprofile
!/.zshrc
!/.p10k.zsh
!/.zlogin
!/.zlogout
!/.condarc
!/.nanorc
!/.vimrc

# directories
!/.plugins
!/.bash
!/.zsh
!/.config
!/.envs
!/.ssh
!/.subversion
!/.conan
!/.docker
!/.jupyter
!/.github
!/git

# submodules
!/.scripts
!/.nano
!/.vim_runtime
!/.credentials
!/.gitignores
!/.oh-my-bash
!/.oh-my-zsh
!/pages
!/cpps
!/leetcode
